---
layout: default
permalink: /about/
title: Everything About the Ruby Developers in Sydney Australia
description: We’re a Technical Agency in Sydney, Australia specialising in creating large Digital Products. We use Ruby on Rails. Hopefully this page will tell you all you need to know about us.
author: Ben Still
---

{% include background-image.html file="svg/lines-1.svg" %}

{% capture markup %}
  <p class='block mb-4'>
    We’re a cross functional technical agency of Developers, Digital Program Managers and Designers in Sydney, Australia.
  </p>
  <p class='block mb-4'>
    We create custom digital platforms and apps in Open Source software - we specialise in <a href='/technology/ruby-on-rails/' class='underline text-red-50 hover:text-red-200'>Ruby on Rails</a> and <a href='/technology/react/' class='underline text-red-50 hover:text-red-200'>React</a>.
  </p>
  <p>
    We’ve been creating digital websites and products for over 22 years and in that time have worked on a wide variety of projects. Along the way, we’ve picked up quite a bit of know how and experience.
  </p>
{% endcapture %}

{% include title-panel.html
  title = "About"
  description = markup %}

<div class="bg-red-100/[0.15]">
  <div class="max-w-screen-2xl mx-auto pb-12 md:pb-24 px-6 pt-14 lg:px-8">
    <h2 class="text-3xl md:text-5xl font-bold mb-12">Core Skills</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 mx-auto">
      <div>
        {% include card.html
          class="pb-12 mb-12 border-b-1 border-white/40"
          content="Many of our clients have an idea for their digital product but need
          help to refine their dreams into actionable project plans. We’ll help
          you understand how to take your ideas and problems and create
          something truly unique. We can help you define your development goals,
          organise them into a logical sequence and determine how long it will
          take. We can help you work out how many resources are needed and what
          budget you’ll need and when."
          icon-class="fa-pen-ruler text-red-100"
          icon-wrapper-class="border-red-100"
          subtitle="Digital Product Design and Digital Road Mapping" %}
        <hr class="bg-white/40 h-[2px] my-12">
      </div>

      <div>
        {% include card.html
          class="pb-12 mb-12 border-b-1 border-white/40"
          content="Our team of developers are experienced in building complex Platforms
          and Digital Products. From Minimum Viable Products (MVPs) to complex
          e-Commerce Platforms our team is ready to build your stable and tested
          code base. We specialise in Open Source technologies such as React
          and Ruby on Rails. Using Open Source development allows you to build
          more features faster and develop a unique product that suits your
          business systems and outpaces competitors."
          icon-class="fa-code text-red-100"
          icon-wrapper-class="border-red-100"
          subtitle="Technical Development" %}
        <hr class="bg-white/40 h-[2px] my-12">
      </div>

      <div>
        {% include card.html
          class="pb-12 mb-12 border-b-1 border-white/40"
          content="Whether it’s a compelling online customer experience or an easy to use
          interface for admin teams, our team of designers and front end
          developers create user experiences that simply work."
          icon-class="fa-object-group text-red-100"
          icon-wrapper-class="border-red-100"
          subtitle="User Interface and User Experience Design" %}
        <hr class="bg-white/40 h-[2px] my-12">
      </div>

      <div>
        {% include card.html
          class="pb-12 mb-12 border-b-1 border-white/40"
          content="We create Software as a Service (Saas) platforms that use data in
          powerful ways to deliver true customer value. We integrate simple and
          complex payment systems depending on your customer and business needs."
          icon-class="fa-cart-shopping text-red-100"
          icon-wrapper-class="border-red-100"
          subtitle="Ecommerce" %}
        <hr class="bg-white/40 h-[2px] my-12">
      </div>

      <div class="hidden">
        {% include card.html
          class="pb-12 mb-12 border-b-1 border-white/40"
          content="We look at your systems from a developer perspective - your team, processes and technology. Unlike the traditional approach, which typically starts from a System Integration and Network view, we start with your code; how it was made, how you test and deploy changes and how you process data."
          icon-class="fa-shield-halved text-red-100"
          icon-wrapper-class="border-red-100"
          subtitle="Cyber Security" %}
        <hr class="bg-white/40 h-[2px] my-12">
      </div>
    </div>
  </div>
</div>

{% include companies.html
  title="These companies trust us"
  content="For more than 20 years, we've had the pleasure of working with many startups, brands and large companies." %}

<div class="bg-cyan-100/[0.15]">
  <div class="max-w-screen-2xl mx-auto py-12 md:py-24 px-6 lg:px-8">
    <h2 class="text-3xl md:text-5xl font-bold mb-12 text-center">
      Why should you work with us?
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 mx-auto">
      {% include card.html
        content="In house Sydney Based Development - we work closely with our clients on the same timezone and in the same language "
        icon-class="fa-earth-oceania text-cyan-100"
        icon-wrapper-class="mx-auto border-cyan-100"
        wrapper-class="text-center" %}

      {% include card.html
        content="Highly experienced team - having delivered hundreds of successful products the team have the tools and experience to get it done faster"
        icon-class="fa-star text-cyan-100"
        icon-wrapper-class="mx-auto border-cyan-100"
        wrapper-class="text-center" %}

      {% include card.html
        content="Transparent project tracking with our purpose built system - know what’s happening on your project day by day"
        icon-class="fa-display-chart-up-circle-dollar text-cyan-100"
        icon-wrapper-class="mx-auto border-cyan-100"
        wrapper-class="text-center" %}

      {% include card.html
        content="Automated testing delivering stable and reliable development"
        icon-class="fa-robot text-cyan-100"
        icon-wrapper-class="mx-auto border-cyan-100"
        wrapper-class="text-center" %}
    </div>
  </div>
</div>

{% include cta-panel.html
  button-label = "Request a call back"
  description = "If you’re ready to get started, take a look at our Code Review and Digital Product Workshops. Or if you want to talk to someone about your project ...call us now."
  title = "Let's Build Something Awesome" %}