---
layout: default-2
permalink: /
title: Sydney Ruby on Rails Technical Agency
description: Red Ant is a Sydney Technical Agency. We create & build exceptional digital products. These live as web sites, in mobile apps, and in social networks.
tailwind: true
redirect_from:
  - /on-demand/
  - /on-demand/design-ux/
  - /on-demand/ios-native-swift/
  - /on-demand/backend-ruby-on-rails/
  - /on-demand/frontend-javascript/
  - /on-demand/terms-of-service/
  - /on-demand/thank-you/backend
  - /on-demand/thank-you/frontend
  - /on-demand/thank-you/ios
  - /on-demand/thank-you/ux
  - /on-demand/thank-you/ux-backend
  - /on-demand/thank-you/ux-frontend
  - /on-demand/thank-you/ux-ios
---

<div
  class="absolute inset-0 -z-10 overflow-hidden"
  aria-hidden="true">
  <div class="relative scale-150 lg:scale-100">
    {% include svg/lines-1.svg %}
  </div>
</div>

<div class="max-w-screen-2xl mx-auto relative isolate px-6 pt-14 lg:px-8 mb-[100px] md:mb-[200px]">
  <div class="flex flex-col mb-[40px] md:mb-0">
    <div class="flex flex-col order-last items-center md:items-end md:order-first">
      <div class="mb-3 w-[138px]">
        {% include svg/stripe-partner-badge.svg %}
      </div>
      <p class="text-center text-gray-400 text-[13px]">Certified developer<br/>& architect</p>
    </div>

    <div class="mx-auto max-w-6xl py-24 md:py-56">
      <div
        class="text-center min-h-[240px]"
        data-controller="typewriter">
        <h1 class="text-3xl font-bold tracking-tight text-white md:text-6xl">
          <span>We</span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["create","develop","engineer"]'>
            build
          </span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["intelligent, "]'>
            secure, 
          </span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["highly available"]'>
            scalable
          </span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["digital"]'>
            software
          </span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["code & operations."]'>
            platforms & products.
          </span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["We can build"]'>
            Build with us
          </span>
          <span>or we can</span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["help","review"]'>
            advise on
          </span>
          <span>your existing</span>
          <span
            data-controller="typewriter-word"
            data-typewriter-word-alt-value='["team.","tech stack.","approach."]'>
            technology.
          </span>
        </h1>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row">
    {% include tailwind/card-home.html
      content="We're different to System Integrators and Security Analysts. We look at vour systems trom a developer perspective - your team, processes and technology."
      icon="fa-hammer"
      label="Custom development"
      style="card-cyan"
      title="We <span class='text-cyan-100'>design & build</span> custom digital platforms"
      url="/get-started/" %}

    {% include tailwind/card-home.html
      content="We're different to System Integrators and Security Analysts. We look at vour systems trom a developer perspective - your team, processes and technology."
      icon="fa-shield-halved"
      label="Cyber security & Privacy"
      style="card-red"
      title="We <span class='text-[#FF5533]'>improve security</span> from a development perspective"
      url="/cyber-security-development-perspective/" %}
  </div>
</div>

{% include tailwind/alert-panel.html %}

{% include tailwind/companies.html
  title="These companies trust us"
  content="For more than 20 years, we've had the pleasure of working with many startups, brands and large companies." %}

<div class="bg-purple-100/25 py-9">
  <div class="max-w-screen-2xl mx-auto flex items-center flex-col lg:flex-row px-6 2xl:px-0">
    <div class="w-[173px] h-[41px] mb-8 lg:mb-0 flex">
      <div class="grow">
        {% include svg/stripe-partner-badge.svg %}
      </div>
    </div>
    <p class="lg:pl-4 my-0 text-gray-100">
      As a Stripe consulting partner, Red Ant’s team of Certified Stripe Architects and Certified Stripe Developers can help with advice, implementation, deployment, or managed services for your Stripe solution.
      <a
        href="/technology/stripe-payments/"
        class="text-purple-100 hover:underline">
        Stripe payment processing solutions with Red Ant.
      </a>
    </p>
  </div>
</div>

<div>
  <div class="relative">
    <div
      class="absolute inset-0 top-0 left-0 -z-10 overflow-hidden"
      aria-hidden="true">
      <div class="relative">
        {% include svg/lines-2.svg %}
      </div>
    </div>

  <div class="max-w-screen-2xl mx-auto relative isolate px-6 pt-14 2xl:px-0">
    <h2 class="text-3xl md:text-5xl font-bold mt-[100px] mb-14 md:mt-[200px] md:mb-[88px] text-center">Featured work</h2>
    <div class="flex flex-col">
      {% include tailwind/portfolio-item.html
        content="Significantly changes and improves the way a Property Manager works when managing a portfolio of rental properties. Solves issues around trust funds, eliminates fraud, improves the speed and resolves a lot of problems that a PM faces - freeing them up to be more strategic."
        slug="managed"
        style="card-managed"
        subtitle="A payment and management platform for rental property"
        title="Managed"
        url="/portfolio/managed/" %}

      {% include tailwind/portfolio-item.html
        content="A digital product in the health and fitness area which has been incredibly popular, changing thousands of lives. Every second person we meet seems to either be doing it or know someone that is a raving fan."
        flip=true
        slug="12wbt"
        style="card-12wbt"
        subtitle="A health and fitness product"
        title="Michelle Bridges 12WBT"
        url="/portfolio/12wbt/" %}

      {% include tailwind/portfolio-item.html
        content="Yes, Huggies like in the nappies you put on babies. Try searching for anything baby or child related, and you’ll probably end up on a Huggies page. So much more than a brand site for Nappies – everything you need to know if you’re the proud owner of a 0-5 year old, or if you’re pregnant. Close to half the Mums in Australia are members, so we must be doing something right."
        slug="huggies"
        style="card-huggies"
        subtitle="A place for parents to learn &amp; share"
        title="Huggies"
        url="/portfolio/huggies/" %}
    </div>
  </div>
</div>

<div class="bg-gray-200 mt-[90px] lg:mt-[140px] py-14 lg:pt-[100px] lg:pb-10 px-6 2xl:px-0">
  <div class="max-w-screen-2xl flex flex-col lg:flex-row mx-auto relative isolate px-6 pt-14 lg:px-8">
    <div class="lg:w-3/5">
      <h2 class="text-3xl lg:text-5xl font-bold mb-[18px]">
        Ruby on Rails
      </h2>

      <hr class="bg-white/40 h-[2px] mt-8 mb-6">

      <h5 class="mb-2 text-xl font-bold">
        The efficient way to build modern digital products.
      </h5>

      <div
        data-controller="read-more"
        data-read-more-more-text-value="Read more"
        data-read-more-less-text-value="Read less">
        <div
          class="ruby-content text-gray-100"
          data-read-more-target="content">
          <p>
            An Open source web framework Ruby on Rails makes designing and building modern web sites and digital products <a href="/ruby-on-rails/ruby-on-rails-efficiency-convention-over-configuration/" class="hover:underline text-red-50">more efficient</a>. Ruby on Rails is a popular choice for building modern, interactive web sites and apps.
            <br />
            <br />
            Ruby on Rails speeds up many of the simple tasks, and allows for extremely rapid creation of prototypes and working code. It also uses “best practice” by default, so you’re not relying on the whim of a particular developer. Of course, having a smart developer is critical, and Rails allows them to translate ideas and concepts quickly and efficiently.
            <br />
            <br />
            Working in an Agile fashion, we can create code that can then be reviewed that day. We might be heading in the right direction, or it might need to behave differently. Rapid change and evolution is a good thing. Using Ruby on Rails facilitates this.
            <br />
            <br />
            Ruby on Rails also helps us create very high quality code. Each part of code has <a href="/automated-testing/testing-web-projects-in-rails/" class="hover:underline text-red-50">a series of Automated Tests</a>. These perform checks to make sure that feature is working as it should. These get run every time a change is made. By doing this, we know that one change hasn’t broken something else. As soon as anything breaks or changes, our Continuous Integration server lets us know and the code is fixed.
          </p>
        </div>

        <button
          class="rounded-md bg-red-100 px-3.5 py-3 text-sm font-semibold text-white hover:bg-red-200 mt-8"
          data-action="read-more#toggle">
          Read more
        </button>
      </div>
    </div>

    <img
      class="object-contain -mt-[180px] z-10 order-first lg:order-last md:w-1/2 md:mx-auto lg:w-2/5 "
      src="/assets/images/ruby-on-rails.svg"
      alt="Ruby on Rails">
  </div>
</div>

<div>
  <div class="relative">
    <div
      class="absolute inset-0 top-0 left-0 -z-10 overflow-hidden"
      aria-hidden="true">
      <div class="relative">
        {% include svg/lines-3.svg %}
      </div>
    </div>

  <div class="max-w-screen-2xl mx-auto relative isolate px-6 py-14 2xl:px-0 lg:py-[200px]">
    <div class="flex justify-between align-middle items-center mb-[50px] md:mb-[100px]">
      <h2 class="text-3xl md:text-5xl font-bold">
        Popular blog posts
      </h2>

      <a
        href="/blog/"
        class="rounded-md bg-red-100 px-3.5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-red-200 hidden md:block">
        View all
      </a>
    </div>

    <hr class="bg-white/40 h-[2px]" />

    {% for post in site.posts limit:3 %}
      {% unless include.type != nil or include.type == post.type %}
        {% include tailwind/post-card-wide.html %}
      {% endunless %}
    {% endfor %}

    <a
      href="/blog/"
      class="rounded-md bg-red-100 px-3.5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-red-200 inline-block mt-14 md:hidden">
      View all
    </a>
  </div>
</div>
