---
layout: default
permalink: /jobs/
title: Jobs and Careers at Red Ant
description: At Red Ant we are always on a look out for a good fit to this family. If you are liviing in Sdyney, a Ruby and Rails developer, a JavaScript developer or just like to get to know us better. Red Ant would very much like to hear from you.
---

{% include background-image.html file="svg/lines-6.svg" %}

{% capture markup %}
  <p class='mb-4'>
    We’re a leading technical agency in Sydney, Australia. This page should
    tell you all you need to know about us and more. To start with, we have a
    core team of 35 – a mix of developers, designers and project managers. For
    technology, we use
    <a class='text-red-50 hover:underline' href='/technology/ruby-on-rails/'>Ruby on Rails</a> and
    <a class='text-red-50 hover:underline' href='/technology/react/'>React</a>. We apply the
    Agile project methodology.
  </p>
  <p>
    We’ve been around for a while (+18y) and in that time have worked on a wide variety of projects. Picking up quite a bit of know how and experience along the way. We specialise in creating and building Digital Products.
  </p>
{% endcapture %}

{% include title-panel.html
  title = "Working at Red Ant"
  sub-description = markup %}

<div class="max-w-screen-2xl mx-auto relative isolate pb-10 px-6 lg:px-8 ">
  <hr class="bg-white/40 h-[2px] mb-8">

  <h2 class="text-2xl font-bold mb-10">Available Jobs:</h2>

  {% for slug in site.data.jobs.order %}
    {% assign pages = site.pages | where:'slug', slug %}

    {% for page in pages %}
      <div class="mb-6">
        <h4 class="text-lg font-bold">{{ page.title }}</h4>
        <p>{{ page.summary }}</p>
        <a
          class="text-red-50 hover:underline"
          href="/jobs/{{ page.slug }}/">
          Read more
        </a>
      </div>
    {% endfor %}
  {% endfor %}

  <hr class="bg-white/40 h-[2px] mt-8">
</div>
