---
layout: v2-default
permalink: /privacy-policy/
title: Privacy Policy Red Ant
description: Your privacy is important to us. Find out more on how Red Ant collects, stores, uses and discloses digital information.
---

{% include v2/background-image.html file="svg/lines-6.svg" %}

{% include v2/title-panel.html
  title="Privacy Policy"
  description="Your privacy is important to us." %}

<div class="max-w-screen-lg mx-auto pb-[50px] md:pb-[100px] px-6 lg:px-20">
  <h2 class="mb-6 text-2xl">Introduction</h2>

  <p class="text-gray-100">Red Ant Design Pty Ltd (&ldquo;Red Ant&rdquo;) is a technical agency specialising in websites and Apps. While providing these services to our Clients, Red Ant collects Personal Information about Individuals. This document describes how Red Ant collects, stores, uses and discloses Personal Information.</p>
  <p class="text-gray-100">Red Ant will make a good faith effort to deal with such Personal Information in accordance with this privacy policy and the principles in the Privacy Act.</p>
  <h2 class="mb-6 mt-10 text-2xl">Types of information collected</h2>
  <p class="text-gray-100">Red Ant may collect the following types of Personal Information about Individuals by way of its own Services or Services provided to a Client: </p>
  <ul class="text-gray-100 list-disc pl-10">
    <li>names;</li>
    <li>addresses;</li>
    <li>information posted on Interfaces;</li>
    <li>photographs;</li>
    <li>health information;</li>
    <li>email addresses;</li>
    <li>telephone numbers;</li>
    <li>dates of birth;</li>
    <li>credit card information;</li>
    <li>banking details;</li>
    <li>computer device information;</li>
    <li>location information; and</li>
    <li>IP addresses</li>
    <li>browsing data </li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">Sensitive information</h2>
  <p class="text-gray-100">While working with our clients, Red Ant may be required to collect sensitive information about Individuals, including information about the health of Individuals. Information collected by Red Ant may include Individuals' weight, pregnancy status, as well as any other sensitive and health information collected by Red Ant.</p>
  <h2 class="mb-6 mt-10 text-2xl">How information is collected</h2>
  <p class="text-gray-100">Red Ant may collect Personal Information about Individuals:</p>
  <ul class="text-gray-100 list-disc pl-10">
    <li>from customer surveys and competitions;</li>
    <li>from Red Ant's website;</li>
    <li>from recruitment agencies and websites;</li>
    <li>from social media such LinkedIn and Twitter </li>
    <li>from a Client database or website;</li>
    <li>from Interfaces;</li>
    <li>from any other digital infrastructure operated and maintained by Red Ant on behalf of a Client;</li>
    <li>from applications developed by Red Ant or operated by Red Ant;</li>
    <li>from Individuals' communications with Red Ant; and</li>
    <li>through automated analysis of Individuals' use of Red Ant&rsquo;s and Clients' Services.</li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">How information is held and secured</h2>
  <ul class="text-gray-100 list-disc pl-10">
    <li>Red Ant may hold Personal Information using digital storage methods.</li>
    <li>Red Ant ensures that Personal Information is protected from unauthorised access by industry standard data security techniques including firewalls, client authentication, SSL and passwords.</li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">Deletion of Personal Information</h2>
  <p class="text-gray-100">Red Ant deletes Personal Information when:</p>
  <ul class="text-gray-100 list-disc pl-10">
    <li>it is determined by Red Ant or a Client that the Personal Information is no longer needed; or</li>
    <li>Individuals request its deletion and it is reasonable to comply.</li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">What information is used for</h2>
  <p class="text-gray-100">Red Ant may collect, use, hold and disclose Personal Information on its own behalf or on behalf of Clients in order to:</p>
  <ul class="text-gray-100 list-disc pl-10">
    <li>facilitate the day-to-day functioning of websites and organisations;</li>
    <li>enable Individuals to use Interfaces;</li>
    <li>perform analysis of the typical use of Red Ant's services;</li>
    <li>assist in the performance of the "primary purpose" of Red Ant's business or the "primary purpose" of a Client's business;</li>
    <li>communicate with Individuals;</li>
    <li>run contests or other promotional activities;</li>
    <li>comply with the law;</li>
    <li>enforce agreements with third parties; and</li>
    <li>process payments.</li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">Disclosures of information</h2>
  <p class="text-gray-100">Red Ant&nbsp;may disclose Personal Information to:</p>
  <ul class="text-gray-100 list-disc pl-10">
    <li>RedAnt employees;</li>
    <li>Organisations using Red Ant's services;</li>
    <li>Professional advisors;</li>
    <li>Third party service providers;</li>
    <li>Payment systems operators;</li>
    <li>Business partners;</li>
    <li>Regulatory bodies; </li>
    <li>Analytics companies such as Google Analytics;</li>
    <li>Storage companies; and</li>
    <li>Courts of law.</li>
  </ul>
  <h2 class="mb-6 mt-10 text-2xl">Disclosing information outside Australia</h2>
  <p class="text-gray-100">Red Ant may disclose Personal information to employees or third party contractors outside of Australia. Red Ant may also disclose Personal Information to digital infrastructure and cloud storage. By using the Services, Individuals consent to the disclosure of their Personal Information to overseas recipients.</p>
  <p class="text-gray-100">Red Ant will make a good faith effort to ensure that overseas recipients deal with Personal Information in a way that is consistent with the Australian Privacy Principles and the Privacy Act, but Individuals will not have the same rights in relation to overseas recipients who handle their information as they would with Australian recipients.</p>
  <h2 class="mb-6 mt-10 text-2xl">Cookie Policy </h2>
  <p class="text-gray-100">Cookies are text files containing small amounts of information which are downloaded to your computer or mobile device when you visit a site and allow a site to recognise your device. Cookies do a lot of different jobs, including creating an improved and more personalised experience. </p>
  <p class="text-gray-100">Blocking cookies; If you do not wish to receive cookies from our website, you can change your browser options to block cookies or alternatively, notify you when you receive a cookie so that you may accept or refuse it upon notice. Visitors should note that deleting and blocking cookies will have an impact on your user experience as certain features of the site may no longer work.</p>
  <h2 class="mb-6 mt-10 text-2xl">Privacy contact</h2>
  <p class="text-gray-100">Questions or complaints from Individuals relating to Red Ant&rsquo;s use of Personal Information should be directed to Red Ant&rsquo;s privacy officer. Red Ant's privacy officer is Sarah Still, contactable on <a href="mailto:privacy@redant.com.au">privacy@redant.com.au</a>. </p>
  <p class="text-gray-100">If you contact Red Ant, we will respond within 10 days. </p>
  <p class="text-gray-100">Red Ant&rsquo;s privacy officer will make a reasonable effort to address complaints or questions of Individuals, and where the privacy officer is unable to do so, the privacy officer will attempt to explain why it is unable to do so.</p>
  <h2 class="mb-6 mt-10 text-2xl">Accessing information</h2>
  <p class="text-gray-100">Under Australian privacy law, Individuals have the right to contact Red Ant to modify or obtain any of their Personal Information which is held by Red Ant.</p>
  <h2 class="mb-6 mt-10 text-2xl">Unknowingly collected information</h2>
  <p class="text-gray-100">Red Ant acknowledges that from time to time, Red Ant may come into possession of Personal Information without being aware of it, for example, when Organisations use Red Ant's Hosting Services to store data.</p>
  <h2 class="mb-6 mt-10 text-2xl">Disclosures during use of the services</h2>
  <p class="text-gray-100">During the use of the Services, Red Ant may disclose Personal Information to Clients and third party contractors such as analytics companies and storage companies. Red Ant will make a good faith effort to ensure that such disclosures are clear to Individuals, but how those Client&rsquo;s handle Personal Information is beyond the control of Red Ant.</p>
  <h2 class="mb-6 mt-10 text-2xl">Changes to this policy</h2>
  <p class="text-gray-100">Red Ant reserves the right to make changes to this document in the future, either to comply with changes in Australian privacy law, or to reflect changing business practices. It is the responsibility of Individuals to regularly check this document for such changes.</p>
  <h2 class="mb-6 mt-10 text-2xl">Definitions</h2>
  <h3 class="mb-6 h4">Agreement, Agreements</h3>
  <p class="text-gray-100">means the agreement arising between the parties in accordance with this document and the other documents referred to by this document.</p>
  <h3 class="mb-6 h4">Interfaces</h3>
  <p class="text-gray-100">means an interface provided by an Organisation with the help of Red Ant.</p>
  <h3 class="mb-6 h4">Organisation, Organisations</h3>
  <p class="text-gray-100">means a client using the Services of Red Ant.</p>
  <h3 class="mb-6 h4">Personal Information</h3>
  <p class="text-gray-100">means any information that is categorised as "personal information" under Australian privacy law.</p>
  <h3 class="mb-6 h4">Privacy Act</h3>
  <p class="text-gray-100">means the Privacy Act 1988 (Cth).</p>
  <h3 class="mb-6 h4">Service, Services</h3>
  <p class="text-gray-100">means the software development, hosting and electronic infrastructure provided by Provider to Individuals and Organisations.</p>
</div>
