---
layout: v2-default
permalink: /technology/
title: Technologies and Integrations we work with
description: Technologies we work in - Ruby on Rails, React, Javascript, Swift iOS
keywords: Technologies, Ruby on Rails, React, Javascript, Swift iOS
---

{% include v2/background-image.html file="svg/lines-7.svg" %}

{% include v2/title-panel.html
  title="Technology and Integrations"
  description="We've tried and tested so many technologies and integrations over the years. These are the technologies we know to provide the most reliable, scalable e-commerce solutions."
  subtitle="Reliable Payment Platforms"
  content="
  Red Ant specialises in building software products that have some aspect of payments. Now we're not talking ecommerce shops - there are plenty of options there. Many of our clients need something tricky in their payment flow, that they need to get developed.
  <br/><br/>
  They might need to escrow a payment, as part of a marketplace. They might need to take rent from a tenant, split it out to pay different people before paying a property owner. They might want a staff reward system that is part cash part points, that can be used in real locations just like a credit card.
  <br/><br/>
  The payment itself might be actual money via direct debit, credit card or stored funds, or it might be a BNPL loan. Some payments might happen instantly, while for a new unknown user it might go through additional credit and fraud checks." %}

{% include v2/technology-by-category.html category="Payments" %}

{% include v2/title-panel.html
  subtitle="Reliable Programing Languages"
  content="
  Let's start with programming languages. Since 2006 we have specialised in Ruby on Rails for full stack development complimented by a mix of Javascript frameworks depending on the requirements, from sprinklings of Stimulus though to complete React or Angular frontends." %}

{% include v2/technology-by-category.html category="Languages" %}

{% include v2/title-panel.html
  subtitle="Reliable Hosting Services at Scale"
  content="
  Web infrastructure can be really easy to set up. But it can often be quite difficult to manage reliably. We often take over projects which were set up quickly, but now need to be made more reliable and secure.
  <br/><br/>
  We try to automate as many processes as possible, so that everything can be rebuilt from well tested build scripts. We use tools like Docker and Kubernetes to help with the orchestration. From there, we can set up on any of the major providers such as Amazon AWS, Azure or Google GCS. Another option is to use a platform such as Heroku. Here are the systems we use with our clients." %}

{% include v2/technology-by-category.html category="Hosting" %}

{% include v2/title-panel.html
  subtitle="Reliable Service Integrations"
  content="
  Integrating complex services is what we do best. We can combine information from different sources and create a unique tool to support your information systems and business processes. We can create tools to give you more insight into your business activities today and make better predictions into the future. We even created our own integration tool - Projectt - to track the health of all of our client projects so we can make sure we have the right resources to meet deadlines. We can also provide greater transparency to our clients who can see how we manage our tasks and resources to get the job done." %}

{% include v2/technology-by-category.html category="Integrations" %}

<div class="mb-24"></div>
