---
layout: default
permalink: /about/
title: Everything About the Ruby Developers in Sydney Australia
description: We’re a Technical Agency in Sydney, Australia specialising in creating large Digital Products. We use Ruby on Rails and AngularJS. Hopefully this page will tell you all you need to know about us.
author: Ben Still
---

<div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
  <div class="relative">
    {% include svg/lines-1.svg %}
  </div>
</div>

{% include title-panel.html
  title="About"
  description="We’re a cross functional technical agency of Developers, Digital Program Managers and Designers in Sydney, Australia. We create custom digital platforms and apps in Open Source software - we specialise in <a href='/technology/ruby-on-rails/' class='underline hover:text-red-50'>Ruby on Rails</a> and <a href='/technology/react/' class='underline hover:text-red-50'>React</a>. We’ve been creating digital websites and products for over 22 years and in that time have worked on a wide variety of projects. Along the way, we’ve picked up quite a bit of know how and experience." %}

<div class="bg-red-100/[0.25]">
  <div class="max-w-screen-2xl mx-auto py-[100px]">
    <h2 class="text-5xl font-bold mb-[50px]">Core Skills</h2>

    <div class="grid grid-cols-2 gap-[20px] mx-auto">
      {% include card.html
        class="pb-12 mb-12 border-b-[1px] border-white/40"
        content="Many of our clients have an idea for their digital product but need
        help to refine their dreams into actionable project plans. We’ll help
        you understand how to take your ideas and problems and create
        something truly unique. We can help you define your development goals,
        organise them into a logical sequence and determine how long it will
        take. We can help you work out how many resources are needed and what
        budget you’ll need and when."
        icon="fa-pen-ruler"
        subtitle="Digital Product Design and Digital Road Mapping"
        text-color="red-100" %}

      {% include card.html
        class="pb-12 mb-12 border-b-[1px] border-white/40"
        content="Our team of developers are experienced in building complex Platforms
        and Digital Products. From Minimum Viable Products (MVPs) to complex
        e-Commerce Platforms our team is ready to build your stable and tested
        code base. We specialise in Open Source technologies such as Angular
        and Ruby on Rails. Using Open Source development allows you to build
        more features faster and develop a unique product that suits your
        business systems and outpaces competitors."
        icon="fa-code"
        subtitle="Technical Development"
        text-color="red-100" %}

      {% include card.html
        class="pb-12 mb-12 border-b-[1px] border-white/40"
        content="Whether it’s a compelling online customer experience or an easy to use
        interface for admin teams, our team of designers and front end
        developers create user experiences that simply work."
        icon="fa-object-group"
        subtitle="User Interface and User Experience Design"
        text-color="red-100" %}

      {% include card.html
        class="pb-12 mb-12 border-b-[1px] border-white/40"
        content="We create Software as a Service (Saas) platforms that use data in
        powerful ways to deliver true customer value. We integrate simple and
        complex payment systems depending on your customer and business needs."
        icon="fa-cart-shopping"
        subtitle="Ecommerce"
        text-color="red-100" %}

      {% include card.html
        class="pb-12 mb-12 border-b-[1px] border-white/40"
        content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        icon="fa-shield-halved"
        subtitle="Cyber Security"
        text-color="red-100" %}
    </div>
  </div>
</div>

{% include companies.html %}

<div class="bg-cyan-100/[0.25]">
  <div class="max-w-screen-2xl mx-auto py-[100px]">
    <h2 class="text-5xl font-bold mb-[50px]">Why you should work with us?</h2>

    <div class="grid grid-cols-4 gap-[40px] mx-auto">
      {% include card.html
        content="In house Sydney Based Development - we work closely with our clients on the same timezone and in the same language "
        icon="fa-earth-oceania"
        text-color="cyan-100" %}

      {% include card.html
        content="Highly experienced team - having delivered hundreds of successful products the team have the tools and experience to get it done faster"
        icon="fa-star"
        text-color="cyan-100" %}

      {% include card.html
        content="Transparent project tracking with our purpose built system - know what’s happening on your project day by day"
        icon="fa-display-chart-up-circle-dollar"
        text-color="cyan-100" %}

      {% include card.html
        content="Automated testing delivering stable and reliable development"
        icon="fa-robot"
        text-color="cyan-100" %}
    </div>
  </div>
</div>

{% include cta-panel.html
  button-label="Request a call back"
  content="If you’re ready to get started, take a look at our Code Review and Digital Product Workshops. Or if you want to talk to someone about your project ...call us now."
  title="Let's Build Something Awesome" %}