---
layout: default
permalink: /hire-us/
title: Let's build something awesome together and hire us
description: Hire Red Ant, our experienced team of Digital Product Experts stand ready for your call.
keywords: Hire
---

<div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
  <div class="relative">
    {% include svg/lines-1.svg %}
  </div>
</div>

{% include title-panel.html
  title="Hire us"
  description="Let's build something awesome together."
  content="Our experienced team of Digital Product Experts stand ready for your call. We'd love to hear about your digital dreams and also where it's going wrong. Complete the form and we'll get back in touch with you
  shortly. Or call us on <a href='tel:+61292678300' class='underline text-red-50 hover:text-red-200'>(02) 9267 8300</a>."
  cta-intercom-label="Hire Us" %}