<div class="max-w-screen-2xl flex flex-col md:flex-row mx-auto relative isolate pt-14">
  <div class="flex">
    <a
      href="/blog/"
      class="mb-2 mb-sm-0">
    Blog Home
    </a>
    <a
      href="/design/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/design/' %}active{% endif %}">
      Design
    </a>
    <a
      href="/marketing/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/marketing/' %}active{% endif %}">
      Marketing
    </a>
    <a
      href="/mobile/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/mobile/' %}active{% endif %}">
      Mobile
    </a>
    <a
      href="/our-work/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/our-work/' %}active{% endif %}">
      Our Work
    </a>
    <a
      href="/red-ant-stuff/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/red-ant-stuff/' %}active{% endif %}">
      Red Ant
    </a>
    <a
      href="/ruby-on-rails-devops/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/ruby-on-rails-devops/' %}active{% endif %}">
      Devops
    </a>
    <a
      href="/ruby-on-rails/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/ruby-on-rails/' %}active{% endif %}">
      Ruby on Rails
    </a>
    <a
      href="/software-development/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/software-development/' %}active{% endif %}">
      Software Dev
    </a>
    <a
      href="/strategy/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/strategy/' %}active{% endif %}">
      Strategy
    </a>
    <a
      href="/tool-reviews/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/tool-reviews/' %}active{% endif %}">
      Tools
    </a>
    <a
      href="/online-payments/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/online-payments/' %}active{% endif %}">
      Online Payments
    </a>
    <a
      href="/cyber-security/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/cyber-security/' %}active{% endif %}">
      Cyber Security
    </a>
    <a
      href="/privacy/"
      class="mb-2 mb-sm-0 {% if page.permalink == '/privacy/' %}active{% endif %} d-none">
      Privacy
    </a>
  </div>
</div>
