<div class="my-[200px] text-center">
  <div class="max-w-screen-2xl mx-auto">
    <h2 class="text-5xl font-bold mb-[18px]">These companies trust us</h2>
    <h3 class="text-lg text-gray-100">
      For more than 20 years, we've had the pleasure of working with many startups, brands and large companies.
    </h3>
    <div class="relative m-0 h-[20px] w-8">
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/accr.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/boq.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/campaignxpress.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/endeavour.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/kc.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/managed.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/mediaworks.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/mup.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/pacefarm.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/pearsons.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/qms.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/raywhite.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/sibotest.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/smata.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/sydneytrains.png" />
      <img
        class="absolute left-0 transition-opacity duration-500 ease-in-out"
        src="/assets/images/clients/thegrantshub.png" />
    </div>
  </div>
</div>