<head href="https://redant.com.au" hreflang="en">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="uky3VJEeD3NAFHIK0V4KLdxlYF7fGGXJYyyt96LLe78" />
  <title>
    {% if page.title != site.title %}{{ page.title }} - {% endif -%}
    {{ site.title }}
  </title>
  {% seo title=false %}
  <meta property="og:image" content="https://redant.com.au/assets/images/social-image.png" />
  <meta property="og:image:width" content="627" />
  <meta property="og:image:height" content="1200" />
  <meta property="og:image:alt" content="Red Ant - Since 1994" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="/assets/stylesheets/application.css" />
  <script src="/assets/bundle/application.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script defer src="https://kit.fontawesome.com/c0cec62a8d.js" crossorigin="anonymous"></script>
  <script>
    if (!(window.fetch && window.Promise && [].includes && Object.assign && window.Map)) {
      var polyfillElement = document.createElement('script');
      polyfillElement.src = 'https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=default,fetch';
      document.head.appendChild(polyfillElement);
    }
  </script>
  {% include tracking.html %}
</head>
