<div class="max-w-screen-2xl grid grid-cols-3 gap-[20px] mx-auto">
  {% assign index = 1 %}
  {% for slug in site.data.technology.order %}
    {% assign pages = site.pages | where: 'slug', slug | where: 'category', include.category %}
    {% for page in pages %}
      {% include card.html
        url=page.url
        image=page.image
        title=page.title
        title-color="red-100"
        description=page.type
        hr="true"
        content=page.listing_description %}
      {% if index == 3 %}
        <div class="w-full"></div>
      {% endif %}
      {% assign index = index | plus: 1 %}
    {% endfor %}
  {% endfor %}
</div>
