{% comment %}
  calendar-modal-url
  cta-1-link
  cta-1-label
  cta-2-link
  cta-2-label
  cta-intercom-label
  description
  image
  icon-class
  subtitle
  sub-description
  title
  title-color
  wrapper-class
{% endcomment %}

<div class="py-24 {{ include.wrapper-class }}">
  <div class="max-w-screen-2xl flex flex-col md:flex-row mx-auto relative isolate px-6 lg:px-8">
    <div class="lg:w-2/3 flex flex-col justify-center">
      {% if include.title %}
        <h1 class="leading-tight md:leading-tight text-3xl md:text-5xl font-bold text-{{ include.title-color }}">
          {{ include.title }}
        </h1>
      {% endif %}

      {% if include.description %}
        <div class="mt-7 text-2xl md:text-3xl">
          {{ include.description }}
        </div>
      {% endif %}

      {% if include.subtitle %}
        <h5 class="mt-24 text-xl font-bold">
          {{ include.subtitle }}
        </h5>
      {% endif %}

      {% if include.sub-description %}
        <div class="mt-7 text-gray-100 mb-4">
          {{ include.sub-description }}
        </div>
      {% endif %}

      {% if include.cta-1-link or include.cta-2-link or include.cta-intercom-label or include.calendar-modal-url %}
        <div class="mt-10">
          {% if include.calendar-modal-url %}
            {% include calendar-modal.html url = include.calendar-modal-url %}
          {% endif %}

          {% if include.cta-1-link %}
            <a
              href="{{ include.cta-1-link }}"
              class="cursor-pointer rounded-md bg-red-100 px-3.5 py-3 mr-4 text-sm font-semibold text-white shadow-sm hover:bg-red-200">
              {{ include.cta-1-label }}
            </a>
          {% endif %}

          {% if include.cta-2-link %}
            <a
              href="{{ include.cta-2-link }}"
              class="cursor-pointer rounded-md bg-red-100 px-3.5 py-3 mr-4 text-sm font-semibold text-white shadow-sm hover:bg-red-200">
              {{ include.cta-2-label }}
            </a>
          {% endif %}

          {% if include.cta-intercom-label %}
            <a class="cursor-pointer intercom-launcher rounded-md bg-red-100 px-3.5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-red-200">
              {{ include.cta-intercom-label }}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if include.image %}
      <div class="lg:w-1/3 order-first md:order-last mb-12 md:mb-0 flex justify-center">
        <img
          class="object-cover rounded-full max-h-56 max-w-56"
          src="{{ include.image }}"
          alt="{{ include.image-alt }}">
      </div>
    {% elsif include.icon-class %}
      <div class="lg:w-1/3 order-first md:order-last mb-12 md:mb-0 flex justify-center align-middle">
        <div class="bg-red-100/75 rounded-full text-white flex justify-center  align-middle items-center h-56 w-56">
          <i class="fa-light {{ include.icon-class }} w-20 h-20"></i>
        </div>
      </div>
    {% endif %}
  </div>
</div>