<style>.async-hide { opacity: 0 !important} </style>

<script>
  var isStaging = !!window.location.host.match(/^staging/);
  var gtmId = isStaging ? "{{ site.gtm.dev }}" : "{{ site.gtm.prod }}";
  var msclarityId = isStaging ? "{{ site.msclarity.dev }}" : "{{ site.msclarity.prod }}";

  // Google Optimize page hiding snippet
  (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
  })(window,document.documentElement,'async-hide','dataLayer',500,{[gtmId]:true});

  // Google Tag Manager
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer',gtmId);

  (function(c,l,a,r,i,t,y){c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);})(window, document, "clarity", "script", msclarityId);
</script>