---
layout: v2-blog-list
is_blog: true
permalink: /blog/cyber-security/
type: cyber-security
title: Cyber security from a development perspective
description: We look at Cyber Security from a Development perspective. Many security teams will start with infrastructure and networks. Probing to see how a bad actor can get in to your platform. Our take is a bit different. We think you’re just as likely to be exposed by poor software - either in how it was built or is being maintained.
redirect_from:
  - /cyber-security/
---

{% capture markup %}
  <p class="mb-4">
    Often security analysis looks at networks and infrastructure - the things your platform runs on. And while this is definitely important, often problems can lie within the software itself. Or how that software connects with other software or data points. How it's built, configured and maintained.
  </p>
  <p class="mb-4">
    That's where we can help.
  </p>
  <p>
    Keeping software secure is somewhat of a moving target. There isn't a magic wand we can wave to somehow make it "secure". It requires a unique development mindset.
  </p>
{% endcapture %}

{% include v2/title-panel.html
  sub-description = markup
  title = "Cyber security from a development perspective" %}

<div class="max-w-screen-2xl mx-auto px-6 lg:px-8 hidden pb-10">
  {% capture markup %}
    <p class='mb-4'>
      This quick online tool will help you understand the overall maturity of the security within your organisation.
    </p>

    <div class="flex align-middle text-cyan-100 hover:text-cyan-200">
      Take the quiz<i class='fa fa-chevron-right m-1'></i>
    </div>
  {% endcapture %}

  {% include v2/post-card-wide.html
    description = markup
    image_small = "/assets/uploads/2023/tool-min.png"
    is_blog = true
    title = "Cyber Security Maturity Assessment"
    url = "/cyber-security/cyber-security-maturity-assessment/" %}
</div>