<!--
  content
  icon
  label
  style
  title
  url
-->
<div class="lg:w-1/2 relative mb-[50px] md:mb-0 {{ include.style }}">
  <div class="absolute flex justify-center h-full w-full -z-10">
    <div
      class="absolute inset-0 mx-auto w-3/4 bg-opaque"
      aria-hidden="true">
      <div class="absolute bottom-7 right-7 h-[200px] w-[200px] rounded-full border-[6px] items-center justify-center hidden md:flex border-opaque">
        <i class="fa-light {{ include.icon }} text-opaque w-[100px] h-[92px]"></i>
      </div>
    </div>
  </div>
  <div class="py-[50px] md:px-6 md:py-[74px]">
    <h5 class="mb-2 text-xl font-bold">{{ include.label }}</h5>
    <hr class="bg-white/40 h-[2px] mt-8 mb-6">
    <h3 class="mb-3 text-3xl md:text-4xl font-bold">
      {{ include.title }}
    </h3>
    <p class="text-lg mt-5 mb-8 text-gray-100">
      {{ include.content }}
    </p>
    <a
      href="{{ include.url }}"
      class="rounded-md px-3.5 py-3 text-sm font-semibold text-white button">
      Get started
    </a>
  </div>
</div>