<a
  href="{{ post.url }}"
  class="group/item flex flex-col items-center border-b-[1px] border-white/40 md:flex-row py-10">
  {% if post.image_small %}
    <div class="w-full h-[200px] md:h-60 md:w-[440px] overflow-hidden">
      <img
        class="object-cover"
        src="{{post.image_small}}"
        alt="{{ post.title }} image">
    </div>
  {% endif %}
  <div class="justify-between p-4 leading-normal">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-red-100 group-hover/item:text-red-200">
      {{ post.title }}
    </h5>
    {% if post.description %}
      <p class="mb-3 text-gray-100">
        {{ post.description }}
      </p>
    {% endif %}
  </div>
</a>
