{% if page.area == "cyber-security" %}
  {% assign hover-class = "hover:bg-red-50/20 hover:border-red-50 hover:text-red-50" %}
{% elsif page.area == "privacy" %}
  {% assign hover-class = "hover:bg-amber-400/20 hover:border-amber-400 hover:text-amber-400" %}
{% else %}
  {% assign hover-class = "hover:bg-purple-50/20 hover:border-purple-50 hover:text-purple-50" %}
{% endif %}

<div class="flex flex-col">
  {% for question in include.section.questions %}
    {% if forloop.last == true %}
      {% assign next-question-url = include.next-section %}
    {% else %}
      {% assign next-question-number = forloop.index | plus: 1 %}
      {% assign next-question-url = include.section.slug | append: "?q=" | append: next-question-number %}
    {% endif %}

    <div
      class="hidden"
      data-assessment-target="answerSection">
      <p class="py-8 text-xl font-bold">{{ question.description }}</p>
      <div
        class="flex flex-col"
        data-assessment-target="answer">
        {% for answer in question.answers %}
          <button
            class="flex w-full rounded-xl bg-black p-3 mb-3 border-[1px] border-neutral-800 {{ hover-class}}"
            data-action="click->assessment#select"
            data-assessment-answer-param="{{ include.section.slug }},{{ forloop.parentloop.index }},{{ forloop.index }},{{ question.weight }}"
            data-assessment-href-param="{{ next-question-url }}">
            {{ answer }}
          </button>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
