<div
  class="row tabs"
  data-assessment-target="questionSlider">
  <div class="d-flex">
    {% for question in include.section.questions %}
      <div class="col-auto me-3">
        <button
          data-action="click->assessment#select"
          data-assessment-href-param="{{ include.section.slug }}?q={{ forloop.index }}"
          class="btn btn-link text-black p-0"
          data-assessment-target="question">
          <p class="m-0 pb-3 lh-1 d-flex align-items-center position-relative">
            <i class="fa fa-{{ question.icon }} me-2"></i> {{ question.title }}
          </p>
        </button>
      </div>
    {% endfor %}
  </div>
</div>