<div
  class="flex"
  data-assessment-target="questionSlider">
  {% for question in include.section.questions %}
    <div class="mr-3">
      <button
        data-action="click->assessment#select"
        data-assessment-href-param="{{ include.section.slug }}?q={{ forloop.index }}"
        class="text-white p-0"
        data-assessment-target="question">
        <p class="m-0 pb-3 flex align-middle relative hover:underline {{ include.area }}">
          {{ question.title }}
        </p>
      </button>
    </div>
  {% endfor %}
</div>