<div
  class="tabs"
  data-assessment-target="sectionSlider">
  <div class="d-flex">
    {% for section in page.sections %}
      <div class="col-auto me-3">
        <button
          class="btn btn-link text-black fs-6 fw-bold p-0 border-0 text-decoration-none opacity-25"
          data-action="click->assessment#select"
          data-assessment-href-param="{{ section }}?q=1"
          data-assessment-target="section"
          disabled>
          <p class="position-relative py-4 m-0">
            {{ forloop.index + 1 }}. {{ section | capitalize | replace: "-", " " }}
          </p>
        </button>
      </div>
    {% endfor %}
  </div>
</div>