<nav
  class="flex px-6 md:px-10 border-b-[1px] border-b-neutral-800 "
  data-assessment-target="sectionSlider">
  {% for section in page.sections %}
    <div class="mr-3">
      <button
        class="text-white text-lg opacity-25"
        data-action="click->assessment#select"
        data-assessment-href-param="{{ section }}?q=1"
        data-assessment-target="section"
        disabled>
        <p class="relative py-4">
          {{ forloop.index + 1 }}. {{ section | capitalize | replace: "-", " " }}
        </p>
      </button>
    </div>
  {% endfor %}
</nav>