<div class="flex overflow-x-auto py-6 border-b border-gray-100/40">
  <a
    href="/blog/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/blog/' %}text-red-50 underline{% endif %}">
    Blog Home
  </a>
  <a
    href="/design/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/design/' %}text-red-50{% endif %}">
    Design
  </a>
  <a
    href="/marketing/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/marketing/' %}text-red-50{% endif %}">
    Marketing
  </a>
  <a
    href="/mobile/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/mobile/' %}text-red-50{% endif %}">
    Mobile
  </a>
  <a
    href="/our-work/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/our-work/' %}text-red-50{% endif %}">
    Our Work
  </a>
  <a
    href="/red-ant-stuff/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/red-ant-stuff/' %}text-red-50{% endif %}">
    Red Ant
  </a>
  <a
    href="/ruby-on-rails-devops/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/ruby-on-rails-devops/' %}text-red-50{% endif %}">
    Devops
  </a>
  <a
    href="/ruby-on-rails/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/ruby-on-rails/' %}text-red-50{% endif %}">
    Ruby on Rails
  </a>
  <a
    href="/software-development/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/software-development/' %}text-red-50{% endif %}">
    Software Dev
  </a>
  <a
    href="/strategy/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/strategy/' %}text-red-50{% endif %}">
    Strategy
  </a>
  <a
    href="/tool-reviews/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/tool-reviews/' %}text-red-50{% endif %}">
    Tools
  </a>
  <a
    href="/online-payments/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/online-payments/' %}text-red-50{% endif %}">
    Online Payments
  </a>
  <a
    href="/cyber-security/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/cyber-security/' %}text-red-50{% endif %}">
    Cyber Security
  </a>
  <a
    href="/privacy/"
    class="mr-7 hover:underline hover:text-red-50 {% if page.permalink == '/privacy/' %}text-red-50{% endif %} d-none">
    Privacy
  </a>
</div>
