<div class="relative">
  {% include v2/background-image.html file="svg/lines-3.svg" %}

<div class="max-w-screen-xl mx-auto relative isolate px-6 lg:px-14 py-14 lg:py-[200px] text-center">
  <h2 class="text-6xl font-bold mb-7">
    {{ include.title }}
  </h2>

  <p class="mb-12 text-2xl">{{ include.content }}</p>

  <a class="cursor-pointer intercom-launcher rounded-md bg-red-100 px-3.5 py-3 text-sm font-semibold text-white shadow-sm hover:bg-red-200 hover:underline">
    {{ include.button-label}}
  </a>
</div>