<footer class="bg-gray-200 text-gray-100 py-24 lg:py24">
  <div class="mx-auto w-full max-w-screen-2xl">
    <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-0 md:grid-cols-4 text-sm">
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="/blog/online-payments/"
              class="hover:underline hover:text-red-50">
              Online Payments
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="/cyber-security-development-perspective/"
              class="hover:underline hover:text-red-50">
              Cyber Security
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="/technology/stripe-payments/"
              class="hover:underline hover:text-red-50">
              Stripe
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="/technology/ruby-on-rails/"
              class="hover:underline hover:text-red-50">
              Ruby on Rails
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="/technology/salesforce-marketing-cloud/"
              class="hover:underline hover:text-red-50">
              Salesforce
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="/technology/heroku/"
              class="hover:underline hover:text-red-50">
              Heroku
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="/blog/design/"
              class="hover:underline hover:text-red-50">
              UX Design
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="/blog/mobile/"
              class="hover:underline hover:text-red-50">
              Mobile
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4 text-sm">
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="mailto:info@redant.com.au"
              class="hover:underline hover:text-red-50">
              info@redant.com.au
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="tel:+61292678300"
              class="hover:underline hover:text-red-50">
              +61 2 9267 8300
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <p>PO Box 250, Vaucluse</p>
          </li>
          <li class="mb-2.5">
            <p>Sydney NSW 2030 Australia</p>
          </li>
          <li class="mb-2.5">
            <p>ABN 87 081 223 252</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="https://twitter.com/r_e_d_a_n_t"
              target="_blank"
              class="hover:underline hover:text-red-50">
              <i class="fa fa-twitter mr-1.5"></i>
              The most mundane Twitter, ever
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="https://www.linkedin.com/company/76862"
              target="_blank"
              class="hover:underline hover:text-red-50">
              <i class="fa fa-linkedin-square mr-1.5"></i>
              Stalk us on Linkedin
            </a>
          </li>
          <li class="mb-2.5">
            <a
              href="/jobs/"
              class="hover:underline hover:text-red-50">
              <i class="fa fa-briefcase mr-1.5"></i>
              Jobs
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="mb-2.5">
            <a
              href="/privacy-policy"
              class="hover:underline hover:text-red-50">
              Red Ant Privacy Policy
            </a>
          </li>
          <li class="mb-2.5">
            <p>
              © <script>document.write(new Date().getFullYear())</script>
              <a href="/" class="hover:underline hover:text-red-50 ml-1">
                Red Ant
              </a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>