{% comment %}
  technologies
{% endcomment %}

<hr class="bg-white/40 h-[2px]" />

<div class="flex justify-between align-middle items-center my-12 md:my-24">
  <h2 class="text-2xl md:text-3xl font-bold">
    Related to this work
  </h2>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-10">
  {% if include.technologies %}
    {% assign count = 0 %}

    {% for technology in include.technologies %}
      {% assign slug = technology | downcase | replace: " ", "-" %}
      {% assign page = site.pages | where: 'slug', slug | first %}

      {% if page %}
        {% include v2/card.html
          description = page.type
          image = page.image
          text-color = "text-red-50"
          title = page.title
          url = page.url %}

        {% assign count = count | plus: 1 %}
      {% endif %}

      {% if count == 3 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign count = 0 %}

    {% for slug in site.data.technology.order %}
      {% assign page = site.pages | where: 'slug', slug | first %}

      {% if page %}
        {% include v2/card.html
          description = page.type
          image = page.image
          text-color = "text-red-50"
          title = page.title
          url = page.url %}

        {% assign count = count | plus: 1 %}
      {% endif %}

      {% if count == 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>