---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.async-hide {
  @apply opacity-0;
}

.typewriter-cursor:after {
  display: inline-block;
  position: relative;
  content: "";
  height: 34px;
  width: 4px;
  margin-left: 4px;
  margin-right: -8px;
  margin-bottom: -8px;
  animation: blinkingBackground 900ms infinite;
}

@keyframes blinkingBackground {
  0% { background-color: transparent; }
  30% { background-color: #fff; }
  70% { background-color: #fff; }
  100% { background-color: transparent; }
}

@media (min-width: theme('screens.md')) {
  .typewriter-cursor:after {
    height: 58px;
  }
}

.ruby-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 3);
}
