---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

.async-hide {
  @apply opacity-0;
}

.markdown a {
  @apply text-red-50;
  @apply underline;
}

.markdown .alert {
  @apply pl-5;
  @apply py-5;
}

.markdown h2 {
  @apply text-lg;
  @apply font-semibold;
  @apply mt-5;
}

.markdown ol {
  @apply list-decimal;
  @apply pl-5;
  @apply py-5;
}

.markdown p {
  @apply text-gray-100;
  @apply py-4;
}

.markdown ul {
  @apply list-disc;
  @apply pl-5;
  @apply py-5;
}

.typewriter-cursor:after {
  display: inline-block;
  position: relative;
  content: "";
  height: 34px;
  width: 4px;
  margin-left: 4px;
  margin-right: -8px;
  margin-bottom: -8px;
  animation: blinkingBackground 900ms infinite;
}

@keyframes blinkingBackground {
  0% { background-color: transparent; }
  30% { background-color: #fff; }
  70% { background-color: #fff; }
  100% { background-color: transparent; }
}

@media (min-width: theme('screens.md')) {
  .typewriter-cursor:after {
    height: 58px;
  }
}

.ruby-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 3);
}
