.typewriter-highlight {
  color: #f00;
}

.typewriter-fade {
  transition: color 1500ms ease-in-out;
}

.typewriter-word {
  position: relative;
}

.typewriter-cursor:after {
  // this version is janky with text that wraps multiple lines
  // display: block;
  // content: "";
  // position: absolute;
  // top: 2px;
  // bottom: 2px;
  // right: -6px;
  // width: 4px;

  display: inline-block;
  position: relative;
  content: "";
  height: 48px;
  width: 4px;
  margin-left: 4px;
  margin-right: -8px;
  margin-bottom: -8px;
  animation: blinkingBackground 1000ms infinite;
}

@keyframes blinkingBackground {
  0% { background-color: #333; }
  50% { background-color: #fff; }
  100% { background-color: #333; }
}
