---
layout: assessment
---

{% include background-image.html file = "svg/lines-3.svg" %}

<div class="max-w-screen-lg mx-auto">
  {% include assessment/header.html area = page.area %}

  <div class="rounded-xl bg-neutral-900/90 py-10 overflow-hidden relative">
    {% include assessment/sections.html sections = page.sections %}

    <div class="progress">
      <div
        class="w-full h-[3px] overflow-hidden"
        data-assessment-target="fill"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100">
      </div>
    </div>
    {{ content }}
  </div>
</div>