---
layout: assessment
---

<div>
  <div class="container py-4">
    <div class="d-flex">
      <img
        class="logo"
        src="/assets/images/logo.svg"
        alt="Red Ant logo"
        height="25"
      />
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card shadow rounded-4">
            <div class="card-body p-2 p-sm-5 position-relative">
              <div data-assessment-target="isMobile" class="d-block d-sm-none"></div>
              <iframe
                data-assessment-target="bookingIframe"
                src="{{page.iframe_src}}"
                class="border-0 overflow-visible"
                width="100%"
                height="100%"
                frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>