---
layout: default
---

{% include title-panel.html
  title=page.title
  subtitle=page.subtitle
  content=page.description
  cta-1-link="/free-initial-consult-code-review/"
  cta-1-label="Free initial consult"
  cta-2-link="/ruby-on-rails-code-review/"
  cta-2-label="Get started"
  image=page.image %}

<div class="bg-red-100/[0.25]">
  <div class="max-w-screen-2xl mx-auto py-[100px]">
    <h2 class="text-5xl font-bold mb-[50px]">How we can help</h2>

    <div class="grid grid-cols-3 gap-[20px] mx-auto">
      {% include card.html
        icon="fa-pen-ruler"
        color="red-100"
        subtitle="New Builds"
        content="We create, design and build new apps and platforms. We can help
        you design for scale, as well as strategy or product support as
        you need it. We'll take responsibility for delivering your
        project.We create, design and build new apps and platforms. We
        can help you design for scale, as well as strategy or product
        support as you need it. We'll take responsibility for delivering
        your project." %}

      {% include card.html
        icon="fa-code"
        color="red-100"
        subtitle="Existing Apps"
        content="We can also take over an existing project. Often companies need
        a bit more experience, developer resourcing, or help in
        completing certain features before they launch. Or you might
        need more development tasks done to your existing platform." %}

      {% include card.html
        icon="fa-object-group"
        color="red-100"
        subtitle="Devops and Platform Support"
        content="We also provide a comprehensive Devops and Platform Support
        service. We'll take on responsibility for monitoring and
        providing technical support as part of an ongoing plan that we
        can design with you." %}
    </div>
  </div>
</div>

{% assign count = page.projects | size %}
{% if count > 0 %}
  <div class="max-w-screen-2xl grid grid-cols-3 gap-[20px] mx-auto">
    <div class="max-w-screen-2xl mx-auto py-[100px]">
      <h2 class="text-5xl font-bold mb-[50px]">Some of our {{ page.title }} projects</h2>

      {% for slug in site.data.portfolio.order %}
        {% assign pages = site.pages | where:'slug', slug %}
        {% for page in pages %}
          {% assign image = page.images | where: "type", "desktop" | first %}
          {% include card.html
            url=page.dir
            image=page.image
            title=page.title
            title-color=""
            hr="true"
            subtitle=page.tagline
            content=page.description %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <section class="default-padding">
    <div class="container">
      <h2 class="mb-5">
        Some of our {{ page.title }} projects
      </h2>
      <div
        data-controller="macy"
        data-macy-columns-lg-value="2"
        data-macy-columns-md-value="1">
        {% for slug in page.projects %}
          {% assign pages = site.pages | where: 'slug', slug %}
          {% for page in pages %}
            <div id="section-card-{{ page.title | downcase | replace: ' ', '-' }}" class="ga-section card mb-1">
              <a href="{{ page.dir }}" class="portfolio-tile bg-gray bg-{{ page.theme }} text-black">
                <div class="content mb-2">
                  <h2 class="text-{{ page.theme }}">{{ page.title }}</h2>
                  <p class="my-4 subheading-small">{{ page.tagline }}</p>
                  <p class="technology-description">{{ page.description }}</p>
                </div>
                <div class="svg-container">
                  <div class="svg-wrapper">
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% include companies.html %}
