---
layout: v2-default
---

{% include v2/background-image.html file="svg/lines-7.svg" %}

{{ content }}

<div class="max-w-screen-2xl mx-auto pb-24 px-6 lg:px-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mx-auto">
    {% assign posts = site.posts | sort: 'updated_at' | reverse %}

    {% if page.type %}
      {% for post in posts %}
        {% if post.blog_categories contains page.type %}
          {% include v2/card.html
            content-class = "p-5"
            content = post.description
            image = post.image_small
            image-class = "md:h-[320px]"
            subtitle = post.title
            text-color = "text-cyan-100"
            url = post.url
            wrapper-class = "bg-cyan-100/[0.15]" %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% for post in posts %}
        {% unless include.type != nil or include.type == post.type %}
          {% include v2/card.html
            content-class = "p-5"
            content = post.description
            image = post.image_small
            image-class = "md:h-[320px]"
            subtitle = post.title
            text-color = "text-cyan-100"
            url = post.url
            wrapper-class = "bg-cyan-100/[0.15]" %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  </div>
</div>
