---
layout: v2-assessment
permalink: /privacy/privacy-maturity-assessment/
title: Privacy maturity assessment
description: Discover the level of privacy maturity of your company with our comprehensive assessment. Our expert analysis will check if your privacy practices are in line with best practices and regulations.
class: assessment
---

{% include v2/background-image.html file = "svg/lines-3.svg" %}

<div class="max-w-screen-lg mx-auto px-6 lg:px-0">
  {% include assessment/header.html area = "privacy" %}
  <div class="rounded-xl bg-neutral-900/90 p-10 overflow-hidden relative">
    <p class="text-amber-400 mb-8 text-xs">5 minute quiz</p>

    <div class="flex">
      <div class="w-full md:w-3/5 z-10">
        <h2 class="text-3xl md:text-5xl font-bold mb-7">
          Privacy Maturity Assessment tool
        </h2>

        <p class="mb-5 text-gray-100">
          Looking to better understand your organisation’s privacy practices? Our online Privacy Maturity Assessment tool can help! This quick and easy tool allows you to gauge the maturity of your privacy ecosystem across four key areas:
        </p>

        <ol class="list-decimal pl-5 text-gray-100 mb-8">
          <li>Personal Information - how well do you collect, use, and manage personal information?</li>
          <li>Notification - are you communicating effectively with individuals about their privacy rights and how their information is being used?</li>
          <li>Cross Border - are you appropriately managing cross-border data flows and complying with relevant regulations?</li>
          <li>Security - how effectively are you protecting personal information from unauthorised access, use, and disclosure?</li>
        </ol>

        <p class="mb-5 text-gray-100">
          Knowing where your organisation stands in these areas can help you identify areas for improvement and plan for next steps. Try our Privacy Maturity Assessment tool today!
        </p>

        <p
        class="hidden mb-8 text-gray-100"
        data-assessment-target="resume">
          You've already started this assessment but didn't finish.
          <a
            href="#"
            class="text-amber-400 hover:underline hover:text-amber-500"
            data-action="click->assessment#resume:prevent">
            Click here to resume where you left off.
          </a>
        </p>

        <button
          class="rounded-md px-3.5 py-3 text-sm font-semibold text-black bg-amber-400 hover:bg-amber-500"
          data-action="click->assessment#start">
          Start now
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>

      <div class="absolute md:relative w-2/5 right-0">
        <div class="rounded-full w-[490px] h-[490px] bg-gradient-to-b from-yellow-500/30 to-amber-950/30 flex align-middle items-center justify-center">
          <i class="fa-solid fa-eye-slash text-black text-[13rem]"></i>
        </div>
        <div class="rounded-full w-[230px] h-[230px] bg-gradient-to-b from-[#F00000]/60 to-[#5F0000]/60 flex align-middle items-center justify-center -mt-20 -ml-12">
          <i class="fa-solid fa-hand text-black text-8xl"></i>
        </div>
      </div>
    </div>
  </div>
</div>